{% load static %}
 <meta charset="utf-8" />

<link href="{% static 'short_video/style.css' %}" media="screen, projection" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{% static "short_video/jquery-3.3.1.js" %}"></script>
<script type="text/javascript" src="{% static "short_video/workhorse.js" %}"></script>

<span id="dummy"></span>

<h1> ** 百度新闻流之搞笑经典 **</h1>

<div id="video_box" width="400">
  <div id="video_comments">
  </div>

  <div id="video_cover">&nbsp;</div>
  <video id="video_element" width="400" controls>
    <source src="{% static 'short_video/dongqian.mp4' %}" type="video/mp4" onclick="playVideo()">
    Your browser does not support HTML5 video.
  </video>
</div>

